.main-window{
    width: 17rem;
    height: 34rem;
    background-color: aqua;
    padding: 3rem;
    border-radius: 1rem;
    text-align: center;
}
.main-window-header{
    padding-bottom: 1rem;
}
.lives-and-score{
    display:flex;
    flex-direction:row;
    padding-bottom: 1rem;

}